@tailwind base;
@tailwind components;
@tailwind utilities;



  .scroll-content {

    animation: scroll 50s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  